body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
}

.failedtests td[colspan="4"] {
  padding-left: 1.5em;
}

button {
  padding: 0.5em;
  min-width: 5em;
}

.summary-bar > .failed {
  height: 1em;
  background-color: red;
}
.summary-bar > .skipped {
  height: 1em;
  background-color: yellow;
}
.summary-bar > .successful {
  height: 1em;
  background-color: lightskyblue;
}

#pr-context {
  margin-top: 1em;
}
#pr-context img {
  width: 2.5em;
  height: 2.5em;
  float: left;
  display: block;
  padding-right: 0.5em;
}
#pr-context .title {
  font-size: smaller;
}

.failedcount button {
  margin-left: 15%;
}

.failedtests button {
  font-size: smaller;
  margin-right: 1em;
}