body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
}

.failedtests {
  font-size: smaller;
}
.failedtests td[colspan="4"] {
  padding-left: 1.5em;
}

.summary-bar > .failed {
  height: 1em;
  background-color: red;
}
.summary-bar > .skipped {
  height: 1em;
  background-color: yellow;
}
.summary-bar > .successful {
  height: 1em;
  background-color: lightskyblue;
}